
.bigCounter {
    background-color: #c3b4f5;
    display: flex;               
    justify-content: center;     
    align-items: center;         
    gap: 5px;                    
  }
  
  
  .clockIcon {
    font-size: 3rem;                          
    margin-right: 10px; 
            
  }
  
  
  .sixthDigit,
  .fifthDigit,
  .fourthDigit,
  .thirdDigit,
  .secondDigit,
  .firstDigit {
    display: flex;
    font-size: 60px;             
    line-height: 60px;           
    background: #8263e0;         
    color: white;               
    padding: 10px;             
    margin: 0 2px;               
  }
  
